<h5>
  Show!
</h5>

Name: <%= @product.name %><br>
Price: <%= @product.price %><br>
Description: <%= @product.description %><br>
Favourite: <%= @product.favourite %><br>
Image: <%= image_tag @product.image %>